language: node_js
node_js:
  - "8"
  - "10"
  - "12"
os:
  - windows
  - linux
  - osx
cache: npm
script: "npm run-script test-cover"
after_script: "npm install coveralls && nyc report --reporter=text-lcov | coveralls"
