language: node_js
node_js:
  - "6"
  - "8"
  - "10"
  - "12"
os:
  - windows
  - linux
  - osx
cache: npm
script: "npm run-script test-cover"
after_script: "npm install coveralls && cat ./coverage/lcov.info | coveralls"
