html, body {
  height: 100%;
}
body {
  margin: 0px;
  font-family: "Segoe UI", GillSans, Helvetica, sans-serif;
  font-weight: lighter;
}
header {
  font-size: 140%;
  font-weight: bold;
}
footer {
  font-size: 90%;
}
form {
  margin-top: auto;
  margin-bottom: auto;
}
textarea {
  padding: 0;
  resize: none;
}
.flex-rows {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flex-columns {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.flex-fill {
  flex-grow: 1;
  flex-basis: 0;
}
.highlight {
  background: yellow;
}
.inset {
  box-sizing: border-box;
  padding: 4px;
}
.inset-side {
  box-sizing: border-box;
  padding-left: 2px;
  padding-right: 2px;
}
.outlined {
  border: 1px solid black;
  margin: 2px;
}
.overflow-auto-scroll {
  overflow-x: auto;
  overflow-y: scroll;
}
