<?xml version="1.0"?>
<configuration>
  <!-- Standard ASP.NET configuration; see http://go.microsoft.com/fwlink/?LinkId=169433 -->
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
  </system.web>

  <!-- Register MIME type for cache manifest -->
  <system.webServer>
    <staticContent>
      <remove fileExtension=".appcache"/>
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest"/>
    </staticContent>
  </system.webServer>

  <!-- Disable caching for cache manifest file -->
  <location path="offline.appcache">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache"/>
      </staticContent>
    </system.webServer>
  </location>
</configuration>
